<!-- From https://larainfo.com/blogs/tailwind-css-image-and-file-upload-example -->

<h1 class='text-3xl font-bold text-center m-8'>CSV to H5P Interactive Video
    Converter</h1>
<div class='text-center'>
    <ol class='list-decimal'>
        <li><a
                href='/template.xlsx'
                class='hover:text-blue-700 text-blue-500'
            >Download</a>
            the spreadsheet template file.</li>
        <li>Open the template in a spreadsheet application like Microsoft
            PowerPoint and create your questions.</li>
        <li>Export the spreadsheet to the CSV file format (with UTF-8 encoding).</li>
        <li>Upload the file in the box below.</li>
        <li>Click on the "Convert to Interactive Video" button.</li>
        <li>The interactive video will be generated and downloaded.</li>
    </ol>
</div>
<div x-data='{ file: null }'>
    <div x-data='{ active: false }' class='flex justify-center mt-8'>
        <div class='max-w-2xl rounded-lg shadow-xl bg-gray-50 p-4'>
            <form action='/convert' method='post' enctype='multipart/form-data'>
                <div class='m-4'>
                    <label class='inline-block mb-2'>Select the CSV file</label>
                    <div class='flex items-center justify-center w-full'>
                        <label
                            class='flex relative flex-col w-full h-32 border-4 border-blue-200 border-dashed hover:bg-gray-100 hover:border-gray-300'
                            :class="{ 'border-sky-800': active }"
                            x-on:dragover="active=true; console.log('dragover');"
                            x-on:dragleave="active=false; console.log('dragleave');"
                            x-on:drop="active=false; console.log('drop');"
                        >
                            <div
                                class='flex flex-col items-center justify-center pt-7'
                            >
                                <svg
                                    xmlns='http://www.w3.org/2000/svg'
                                    class='w-8 h-8 text-gray-400 group-hover:text-gray-600'
                                    fill='none'
                                    viewBox='0 0 24 24'
                                    stroke='currentColor'
                                >
                                    <path
                                        stroke-linecap='round'
                                        stroke-linejoin='round'
                                        stroke-width='2'
                                        d='M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12'
                                    ></path>
                                </svg>
                                <p
                                    class='mx-2 pt-1 text-sm tracking-wider text-gray-400 group-hover:text-gray-600'
                                >
                                    Drag the file here or click to browse</p>
                                <template x-if='file'>
                                    <p class='mx-2' x-text='file.name'></p>
                                </template>
                            </div>
                            <input
                                name="csv"
                                type='file'
                                accept='.csv'
                                class='absolute w-full h-full opacity-0'
                                x-on:change='file = $event.target.files[0]; console.log($event.target.files[0]);'
                            />
                        </label>
                    </div>
                </div>
                <div class='flex justify-center p-2'>
                    <button
                        name='submit'
                        type='submit'
                        class='w-full px-4 py-2 text-white rounded shadow-xl'
                        :class="{'hover:bg-blue-600': file, 'active:bg-blue-400': file, 'bg-gray-300': !file, 'bg-blue-500': file }"
                        x-bind:disabled='!file'
                    >Convert to Interactive Video</button>
                </div>
            </form>
        </div>
    </div>
</div>